.sun-editor {
  width: auto;
  height: auto;
  box-sizing: border-box;
  font-family: Helvetica Neue;
  border-width: 0px;
  background-color: #fff;
  color: #000;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.sun-editor .se-resizing-bar {
  display: none;
}
